<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Motmarah
        link(rel="stylesheet", href="css/bootstrap3.min.css")
        link(rel="stylesheet", href="css/bootstrap3-rtl.min.css")
        link(rel="stylesheet", href="css/all.min.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/owl.theme.default.min.css")
        link(rel="stylesheet", href="css/animate.min.css")
        link(rel="stylesheet", href="css/style__home-rtl.css")
    body

        .sideNav
        .navBody
            .head
                a(href="index-en.html")
                    img(src="images/en-lang.png", alt="")
                .close1
                    i.fas.fa-times
            .links
                ul
                    li
                        a(href="#") الرئيسية
                    li
                        a(href="#") من نحن
                    li
                        a(href="#") منتجاتنا
                    li
                        a(href="#") إتصل بنا
                    li
                        a(href="#") معلومات الشحن والتوصيل
            .accDrop
                .dropHead
                    span حسابي
                    span.arr
                .dropBody
                    ul
                        li
                            a(href="#") تسجيل دخول
                        li
                            a(href="#") تسجيل جديد

            .searchSec
                input(type="text" placeholder="البحث")
                button
                    i(class="fas fa-search")
        .upnav.wow.fadeInUp(data-wow-duration="1s" data-wow-delay=".25s")
            .container
                .content
                    .minu
                        i(class="fas fa-bars")
                        span القائمة الرئيسية
                    .logo
                        a(href="#")
                            img(src="images/logo.png", alt="LOGO" class="img-responsive")
                    .options
                        .option.search
                            input(type="text" placeholder="البحث")
                            button
                                i(class="fas fa-search")
                        .option.drop
                            a(href="#")
                                i(class="fas fa-user")
                            ul
                                .shape
                                li.bor
                                    a(href="#") تسجيل دخول
                                li
                                    a(href="#") تسجيل جديد
                        .option
                            a(href="#")
                                i(class="fas fa-heart")
                        .option.cart
                            a(href="#")
                                span.noti 0
                                i(class="fas fa-shopping-cart")
                                span SAR 0
        

        //- Start Carousel
        .car-sec.wow.fadeInUp(data-wow-duration="1s" data-wow-delay=".5s")
            .owl-carousel.owl-theme
                .item
                    img(src="images/banner.jpg", alt="")
                .item
                    img(src="images/banner.jpg", alt="")
                .item
                    img(src="images/banner.jpg", alt="")

        //-  Start Our Products
        .our-products.padd-y
            .container
                .title
                    h2.text-center منتجاتنا
                .products
                    .product.wow.fadeInUp(data-wow-duration="1s" data-wow-delay=".5s")
                        .details
                            .pic
                                img(src="images/product-1.png", alt="")
                            .det
                                p.title
                                    span سكري مجروش 3 كيلو
                                    span خصم 16%
                                p.prise
                                    span.pris 100 ر.س
                                    span.disc 120 ر.س
                                form
                                        button.plus
                                            i.fas.fa-plus
                                        input(type="text" value="1" class="quantity")
                                        button.minus
                                            i.fas.fa-minus
                        .action
                            button.addTo
                                i(class="fas fa-shopping-cart")
                                span أضف الي السلة
                    .product.wow.fadeInUp(data-wow-duration="1s" data-wow-delay=".5s")
                        .details
                            .pic
                                img(src="images/product-2.png", alt="")
                            .det
                                p.title
                                    span سكري مجروش 3 كيلو
                                    span خصم 16%
                                p.prise
                                    span.pris 100 ر.س
                                    span.disc 120 ر.س
                                form
                                        button.plus
                                            i.fas.fa-plus
                                        input(type="text" value="1" class="quantity")
                                        button.minus
                                            i.fas.fa-minus
                        .action
                            button.addTo
                                i(class="fas fa-shopping-cart")
                                span أضف الي السلة
                    .product.wow.fadeInUp(data-wow-duration="1s" data-wow-delay=".5s")
                        .details
                            .pic
                                img(src="images/product-3.png", alt="")
                            .det
                                p.title
                                    span سكري مجروش 3 كيلو
                                    span خصم 16%
                                p.prise
                                    span.pris 100 ر.س
                                    span.disc 120 ر.س
                                form
                                        button.plus
                                            i.fas.fa-plus
                                        input(type="text" value="1" class="quantity")
                                        button.minus
                                            i.fas.fa-minus
                        .action
                            button.addTo
                                i(class="fas fa-shopping-cart")
                                span أضف الي السلة
                    .product.wow.fadeInUp(data-wow-duration="1s" data-wow-delay=".5s")
                        .details
                            .pic
                                img(src="images/product-4.png", alt="")
                            .det
                                p.title
                                    span سكري مجروش 3 كيلو
                                    span خصم 16%
                                p.prise
                                    span.pris 100 ر.س
                                    span.disc 120 ر.س
                                form
                                        button.plus
                                            i.fas.fa-plus
                                        input(type="text" value="1" class="quantity")
                                        button.minus
                                            i.fas.fa-minus
                        .action
                            button.addTo
                                i(class="fas fa-shopping-cart")
                                span أضف الي السلة
                    .product.wow.fadeInUp(data-wow-duration="1s" data-wow-delay=".5s")
                        .details
                            .pic
                                img(src="images/product-5.png", alt="")
                            .det
                                p.title
                                    span سكري مجروش 3 كيلو
                                    span خصم 16%
                                p.prise
                                    span.pris 100 ر.س
                                    span.disc 120 ر.س
                                form
                                        button.plus
                                            i.fas.fa-plus
                                        input(type="text" value="1" class="quantity")
                                        button.minus
                                            i.fas.fa-minus
                        .action
                            button.addTo
                                i(class="fas fa-shopping-cart")
                                span أضف الي السلة

        //- End Of Our-Products

        //- Start Footer

        footer.padd-y
            img(src="images/pattern.png", alt="" class="pat")
            .container
                .fotContent
                    .fotNav.wow.fadeInUp(data-wow-duration="1s" data-wow-delay=".5s")
                        ul
                            li
                                a(href="#") من نحن
                            li
                                a(href="#") معلومات الشحن والتوصيل
                            li
                                a(href="#") شروط الإستخدام
                            li
                                a(href="#") إرجاع الطلب
                            li
                                a(href="#") قسائم الهدايا
                            li
                                a(href="#") القائمة البريدية
                            li
                                a(href="#") إتصل بنا
                    .social.wow.fadeInUp(data-wow-duration="1s" data-wow-delay=".75s")
                        a(href="#")
                            i.fab.fa-whatsapp
                        a(href="#")
                            i.fab.fa-snapchat-ghost
                        a(href="#")
                            i.fab.fa-instagram
                        a(href="#")
                            i.fab.fa-twitter
                        a(href="#")
                            i.fab.fa-facebook-f
                    .payment.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="1s")
                        a(href="#")
                            img(src="images/payment.png", alt="")
                    .copyright.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="1.25s")
                        p
                            |جميع الحقوق محفوظة لدي متجر متمرة 2019 ©
                            a(href="#")
                                |تصميم وتطوير
                                img(src="images/tasawk.png", alt="")
        //- End Of Footer


        script(src="js/jquery.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/owl.carousel.min.js")
        script(src="js/wow.min.js")
        script(src="js/main.js")